n8n-workflows/employee-email-workflow.json
{
  "name": "Employee Email Workflow",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "employee-email",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook-trigger",
      "name": "Webhook Trigger",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [240, 300],
      "webhookId": "employee-email"
    },
    {
      "parameters": {
        "jsCode": "const employeeData = $input.first().json;\n\nif (!employeeData.employee || !employeeData.employee.email) {\n  throw new Error('Employee email is required');\n}\n\nconst emailType = employeeData.emailType || 'general';\nlet emailContent = {\n  to: employeeData.employee.email,\n  from: 'noreply@company.com',\n  subject: '',\n  html: ''\n};\n\nswitch (emailType) {\n  case 'welcome':\n    emailContent.subject = `Welcome ${employeeData.employee.name}!`;\n    emailContent.html = `<h2>Welcome ${employeeData.employee.name}!</h2><p>Welcome to ${employeeData.employee.department}</p>`;\n    break;\n  default:\n    emailContent.subject = 'Employee Dashboard Message';\n    emailContent.html = `<h2>Hello ${employeeData.employee.name}</h2><p>${employeeData.customMessage || 'You have a message from the Employee Dashboard.'}</p>`;\n}\n\nreturn emailContent;"
      },
      "id": "process-email",
      "name": "Process Email",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [460, 300]
    },
    {
      "parameters": {
        "fromEmail": "={{ $json.from }}",
        "toEmail": "={{ $json.to }}",
        "subject": "={{ $json.subject }}",
        "emailType": "html",
        "message": "={{ $json.html }}"
      },
      "id": "send-email",
      "name": "Send Email",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2,
      "position": [680, 300]
    },
    {
      "parameters": {
        "jsCode": "return {\n  success: true,\n  message: 'Email sent successfully',\n  timestamp: new Date().toISOString()\n};"
      },
      "id": "success-response",
      "name": "Success Response", 
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [900, 300]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json }}"
      },
      "id": "webhook-response",
      "name": "Webhook Response",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [1120, 300]
    }
  ],
  "connections": {
    "Webhook Trigger": {
      "main": [[{"node": "Process Email", "type": "main", "index": 0}]]
    },
    "Process Email": {
      "main": [[{"node": "Send Email", "type": "main", "index": 0}]]
    },
    "Send Email": {
      "main": [[{"node": "Success Response", "type": "main", "index": 0}]]
    },
    "Success Response": {
      "main": [[{"node": "Webhook Response", "type": "main", "index": 0}]]
    }
  },
  "active": true,
  "settings": {},
  "versionId": "1",
  "id": "employee-email-workflow"
}
